body {
  padding: 0px 10px;
  margin: 0px 1vw 0px 1vw;
  border-left: 2px solid #0060BF;
  border-right: 2px solid #0060BF; }

header {
  padding-top: 3em;
  height: 15em;
  padding-bottom: 2em;
  display: inline-block; }

.item {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10px;
  font-size: 5vw;
  color: #F4F4F5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.row {
  margin-bottom: 1em;
  height: 90px;
  width: 100%;
  display: inline-block; }

/*Tablet*/
@media only screen and (min-width: 500px) {
  body {
    padding: 0px 50px;
    margin: 0px 10vw 0px 10vw;
    border-left: 2px solid #0060BF;
    border-right: 2px solid #0060BF; }

  header {
    padding-top: 3em;
    padding-bottom: 2em;
    height: 15em;
    display: inline-block; }

  .item {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    font-size: 5vw;
    color: #F4F4F5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

  .row {
    margin-bottom: 2em;
    height: 120px;
    width: 100%;
    display: inline-block; } }
/*Desktop*/
@media only screen and (min-width: 1000px) {
  body {
    padding: 0px 50px;
    margin: 0px 25vw 0px 25vw;
    border-left: 2px solid #0060BF;
    border-right: 2px solid #0060BF; }

  header {
    padding-top: 3em;
    padding-bottom: 0.5vw;
    height: 20vmax;
    display: inline-block; }

  .item {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 6em;
    font-size: 2.9vw;
    color: #F4F4F5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

  .row {
    margin-bottom: 2em;
    height: 8vw;
    width: 100%;
    display: inline-block; } }
body {
  background: #0F2539 url("/Images/diamond-web.png") repeat 0 0;
  -webkit-animation-name: moveBg;
  -moz-animation-name: moveBg;
  animation-name: moveBg;
  -webkit-animation-duration: 50s;
  -moz-animation-duration: 50s;
  animation-duration: 50s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  animation-direction: normal;
  -webkit-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1); }

@-webkit-keyframes moveBg {
  from {
    background-position: 0 0; }
  to {
    background-position: 0 100%; } }
@-moz-keyframes moveBg {
  from {
    background-position: 0 0; }
  to {
    background-position: 0 100%; } }
@keyframes moveBg {
  from {
    background-position: 0 0; }
  to {
    background-position: 0 100%; } }
.blue {
  color: #0060BF; }

.white {
  color: #F4F4F5; }

.content {
  text-align: center;
  margin: auto;
  -webkit-animation-name: animateContent;
  -moz-animation-name: animateContent;
  animation-name: animateContent;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation-duration: 15s;
  -moz-animation-duration: 15s;
  animation-duration: 15s; }

@-webkit-keyframes animateContent {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px); }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0px); } }
@-moz-keyframes animateContent {
  0% {
    opacity: 0;
    -moz-transform: translateY(30px); }
  50% {
    opacity: 1; }
  100% {
    -moz-transform: translateY(0px); } }
@keyframes animateContent {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
hr {
  margin-top: 2em;
  border-top: 1px solid dark-gray;
  width: 50%; }

a {
  text-decoration: none; }

.header {
  width: 50%; }

.centerText {
  position: relative;
  top: 30%;
  transform: translateY(-35%); }

#badge {
  background-color: rgba(15, 37, 57, 0);
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); }

#badge:hover {
  -webkit-transform: scale(1.09);
  -moz-transform: scale(1.09);
  -ms-transform: scale(1.09);
  -o-transform: scale(1.09);
  transform: scale(1.09);
  background: -webkit-linear-gradient(#0F2539, #0A1622);
  background: linear-gradient(#0F2539, #0A1622);
  border-radius: 5px;
  box-shadow: 1px 2px 10px 3px black; }

#badge:active {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  background: -webkit-linear-gradient(#0A1622, #0F2539);
  background: linear-gradient(#0A1622, #0F2539);
  box-shadow: none;
  border: 1px solid black; }

.button {
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 1px solid black;
  width: 100%; }

.button:hover {
  box-shadow: 1px 2px 6px 1px black;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02); }

.button:active {
  box-shadow: 0px 0px 0px 1px black;
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95); }

#aurora {
  background-image: url("/Images/aurora.png");
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-color: #252F3D; }

.contact {
  color: white;
  margin: 1em; }

#journaley {
  background-image: url("/Images/journaley.png");
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-color: #191919; }

#icarus {
  background-image: url("/Images/icarus.png");
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-color: #2A2A2A; }

#peruse {
  background-image: url("/Images/Peruse.png");
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-color: #FFF1C2; }

#neo {
  background-image: url("/Images/neo.png");
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-color: white; }

#home {
  background-color: #0060BF;
  color: white; }

/*# sourceMappingURL=style.css.map */
