@import "bourbon/_bourbon.scss";
$black-blue: #0A1622;
$light-blue: #0F2539;
$highlight-blue: #0060BF;

/*Tablet*/
@media only screen and (min-width:600px) {
	body {
		background-color: $light-blue;
		padding: 0px 100px;
		margin: 0px 10vw 0px 10vw;
		border-left: 2px solid $highlight-blue;
		border-right: 2px solid $highlight-blue;
	}

	header {
		padding-top: 3em;
		padding-bottom: 6em;
		height: 16vmax;
		display: inline-block;
	}

	.item {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 10px;
		font-size: 5vw;
		color: #F4F4F5;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

}

/*Desktop*/
@media only screen and (min-width:1280px) {
	body {
		background-color: $light-blue;
		padding: 0px 100px;
		margin: 0px 25vw 0px 25vw;
		border-left: 2px solid $highlight-blue;
		border-right: 2px solid $highlight-blue;
	}

	header {
		padding-top: 3em;
		padding-bottom: 1em;
		height: 16vmax;
		display: inline-block;
	}

	.item {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 6em;
		font-size: 2.9vw;
		color: #F4F4F5;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

}

.blue {
	color: $highlight-blue;
}

.white {
	color: #F4F4F5;
}

.box {
	border: 1px solid black;
	width: 100%;
}

.content {
	text-align: center;
	margin: auto;
}

.row {
	margin-bottom: 2em;
	height: 150px;
	display: inline-block;
}

hr {
	margin-top: 2em;
	border-top: 1px solid dark-gray;
	width: 50%;
}

#badge {
	background-color: #0F2539;
	@include transition (all 0.3s ease-out);
	@include transition-timing-function(ease-in-out);
	width: 50%;
	height: auto;
}

#badge:hover {
	@include background(linear-gradient($light-blue, $black-blue));
	border-radius: 5px;
	box-shadow: 1px 2px 10px 3px black;
	width: 55%;
}

#badge:active {
	width: 48%;
	box-shadow: none;
	@include background(linear-gradient($black-blue, $light-blue));
	border: 1px solid black;
}

$aurora-color: #252F3D;
$journaley-color:#191919;
$icarus-color: #2A2A2A;
$peruse-color: #FFF1C2;
$neo-color: white;
#aurora {
	background-image: url("/Images/aurora.png");
	background-position: center, center;
	background-repeat: no-repeat;
	background-size: 50% auto;
	background-color: $aurora-color;
}

#journaley {
	background-image: url("/Images/journaley.png");
	background-position: center, center;
	background-repeat: no-repeat;
	background-size: 50% auto;
	background-color: $journaley-color;
}

#icarus {
	background-image: url("/Images/icarus.png");
	background-position: center, center;
	background-repeat: no-repeat;
	background-size: 50% auto;
	background-color: $icarus-color;
}

#peruse {
	background-image: url("/Images/Peruse.png");
	background-position: center, center;
	background-repeat: no-repeat;
	background-size: 50% auto;
	background-color: $peruse-color;
}

#neo {
	// background-image: url("/Images/Peruse.png");
	background-position: center, center;
	background-repeat: no-repeat;
	background-size: 50% auto;
	background-color: $neo-color;
}