body {
  padding: 0px 0px;
  margin: 0px 1vw 0px 1vw; }

header {
  padding-top: 3em;
  height: 15em;
  padding-bottom: 2em;
  display: inline-block; }

.item {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10px;
  font-size: 6.5vw; }

.row {
  margin-bottom: 1em;
  height: 100px;
  width: 100%;
  display: inline-block; }

.half-row {
  margin-bottom: 0.5em;
  height: 50px;
  width: 100%;
  display: inline-block; }

/*Tablet*/
@media only screen and (min-width: 500px) {
  body {
    padding: 0px 0px;
    margin: 0px 10vw 0px 10vw; }

  header {
    padding-top: 3em;
    padding-bottom: 2em;
    height: 15em;
    display: inline-block; }

  .item {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    font-size: 5vw; }

  .row {
    margin-bottom: 2em;
    height: 135px;
    width: 100%;
    display: inline-block; }

  .half-row {
    margin-bottom: 1em;
    height: 67.5px;
    width: 100%;
    display: inline-block; } }
/*Desktop*/
@media only screen and (min-width: 1000px) {
  body {
    padding: 0px 0px;
    margin: 0px 25vw 0px 25vw; }

  header {
    padding-top: 3em;
    padding-bottom: 1vw;
    height: 25vmax;
    display: inline-block; }

  .item {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 6em;
    font-size: 2.9vw; }

  .row {
    margin-bottom: 2em;
    height: 9vw;
    width: 100%;
    display: inline-block; }

  .half-row {
    margin-bottom: 1em;
    height: 4.5vw;
    width: 100%;
    display: inline-block; } }
body {
  background: #0F2539 url("../Images/diamond-web.png") repeat 0 0;
  -webkit-animation-duration: 100s;
  -moz-animation-duration: 100s;
  animation-duration: 100s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  animation-direction: normal;
  -webkit-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1); }

header {
  height: 100%; }

.item {
  color: #F4F4F5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.72); }

@-webkit-keyframes moveBg {
  from {
    background-position: 0 0; }
  to {
    background-position: 0 100%; } }
@-moz-keyframes moveBg {
  from {
    background-position: 0 0; }
  to {
    background-position: 0 100%; } }
@keyframes moveBg {
  from {
    background-position: 0 0; }
  to {
    background-position: 0 100%; } }
.blue {
  color: #0060BF; }

.white {
  color: #F4F4F5; }

.content {
  background-color: #0F2539;
  border-left: 2px solid #0060BF;
  border-right: 2px solid #0060BF;
  text-align: center;
  margin: auto;
  -webkit-animation-name: animateContent;
  -moz-animation-name: animateContent;
  animation-name: animateContent;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s; }

@-webkit-keyframes animateContent {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    border-left: 2px solid transparent;
    border-right: 2px solid transparent; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0px);
    border-left: 2px solid #0060BF;
    border-right: 2px solid #0060BF; } }
@-moz-keyframes animateContent {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
    border-left: 2px solid transparent;
    border-right: 2px solid transparent; }
  50% {
    opacity: 1; }
  100% {
    -moz-transform: translateY(0px);
    border-left: 2px solid #0060BF;
    border-right: 2px solid #0060BF; } }
@keyframes animateContent {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    border-left: 2px solid transparent;
    border-right: 2px solid transparent; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    border-left: 2px solid #0060BF;
    border-right: 2px solid #0060BF; } }
center {
  width: 100%;
  text-align: center; }

.fa {
  padding: 0px 40px 0px 0px; }

hr {
  margin-top: 2em;
  border-top: 1px solid dark-gray; }

.header {
  width: 70%; }

.centerText {
  position: relative;
  top: 30%;
  transform: translateY(-35%); }

a {
  text-decoration: none;
  color: teal; }

a:hover {
  color: #0060BF; }

.text {
  margin-bottom: 5.5em;
  height: auto; }

.text img {
  text-align: center;
  width: 100%;
  height: auto; }

.text h2 {
  font-family: Hind;
  margin-left: 25px;
  text-align: left;
  color: white;
  font-size: 45px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.72); }

.text p {
  font-family: Hind;
  text-align: left;
  color: white;
  font-size: 22px;
  margin-left: 10px;
  margin-right: 10px; }

#badge {
  background-color: rgba(15, 37, 57, 0);
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 1px solid #0F2539;
  border-radius: 5px; }

#badge:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  background: -webkit-linear-gradient(#0F2539, #0A1622);
  background: linear-gradient(#0F2539, #0A1622);
  border-radius: 5px;
  border: 1px solid #0A1622;
  box-shadow: 1px 2px 10px 3px black; }

#badge:active {
  -webkit-transform: scale(0.99);
  -moz-transform: scale(0.99);
  -ms-transform: scale(0.99);
  -o-transform: scale(0.99);
  transform: scale(0.99);
  background: -webkit-linear-gradient(#0A1622, #0F2539);
  background: linear-gradient(#0A1622, #0F2539);
  box-shadow: none;
  border: 1px solid black; }

.button {
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 1px solid black;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1em; }

.button:hover {
  box-shadow: 1px 2px 6px 1px black;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02); }

.button:active {
  box-shadow: 0px 0px 0px 1px black;
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95); }

.contact {
  color: white;
  margin: 1em;
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); }

.contact:hover {
  color: #0060BF;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5); }

.contact:active {
  color: white;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

#aurora {
  background-image: url("../Images/aurora.png");
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-color: #252F3D; }

#journaley {
  background-image: url("../Images/journaley.png");
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-color: #191919; }

#icarus {
  background-image: url("../Images/Icarus.png");
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-color: #2A2A2A; }

#peruse {
  background-image: url("../Images/Peruse.png");
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-color: #FFF1C2; }

#neo {
  background-image: url("../Images/neo.png");
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-color: white; }

#home {
  background-color: #0060BF;
  color: white; }

/*# sourceMappingURL=style.css.map */
